aiohttp==3.8.1
aiohttp-socks==0.7.1
aiosignal==1.2.0
asgiref==3.5.2
async-timeout==4.0.2
asyncsteampy==0.1.2
attrs==22.1.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
charset-normalizer==2.1.1
defusedxml==0.7.1
diff-match-patch==20200713
Django==4.1
django-daterangefilter @ git+https://github.com/yakimenko73/django-daterange-filter@84b65862f874494080bde418b98040a792195060
django-grappelli==3.0.3
django-preferences==1.0.0
envclasses==0.2.8
et-xmlfile==1.1.0
frozenlist==1.3.1
gunicorn==20.1.0
idna==3.3
JSON-log-formatter==0.5.1
MarkupPy==1.14
multidict==6.0.2
mypy-extensions==0.4.3
odfpy==1.4.1
openpyxl==3.0.10
pyasn1==0.4.8
pydantic==1.10.2
python-logstash==0.4.8
python-socks==2.0.3
PyYAML==6.0
rsa==4.9
soupsieve==2.3.2.post1
sqlparse==0.4.2
tablib==3.2.1
typing-inspect==0.8.0
typing_extensions==4.3.0
xlrd==2.0.1
xlwt==1.3.0
yarl==1.8.1
